@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Montserrat&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}

.account_btn:focus {
    background-color: #7745FF;
}

.imageGen {
    display: flex;
}

.active {
    font-weight: 600;
    color: #fff;
}

.main_center {
    background-color: transparent;
    width: 85%;
    height: 85vh;
    border-radius: 15px;
    margin: 0px;
}

.GI_left {
    background-color: #111631;
    width: 70%;
    height: 85vh;
    border-radius: 15px;
    margin: 0 20px;
    padding: 20px;
    outline: .5px solid #272d50;
}

.navbar-toggler {
    margin: 0px 10px;
}

.navbar-toggler>i {
    color: white;
    font-size: 17px;
}

.GI_right_input {
    background-color: #111631;
    width: 30%;
    height: 85vh;
    max-height: 85vh;
    border-radius: 15px;
    margin: 0 10px;
    outline: .5px solid #272d50;

}

.collapse>.navbar-nav {
    /* background-color: #fff; */
    float: right;
}

.collapse>.navbar-nav>li {
    padding: 0 10px;
    text-decoration: none;

    /* background-color: #111631;
    padding: 10px 20px; */

}

.collapse>.navbar-nav>.nav-item>a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.main_ar>.d-flex>.nav-pills>li {
    /* background-color: #111631; */
    padding: 8px 20px;
    /* border-radius: 8px; */
}

.main_ar>.d-flex>.nav-pills>li>a {
    color: white;
    font-size: 16px;
    padding: ;
    text-decoration: none;

}


.nav-item-link.active {
    background-color: #111631;
}

.dropdown>a {
    color: white;
}

.dropdown>a:hover {
    color: white;
}

.container-fluid>form>input {
    color: grey;
    padding-left: 10%;
    background-color: #111631;
    border: 0px solid transparent;
    padding: 7px 12px;
    border-radius: 8px;
}

.container-fluid>form>input:active {
    color: grey;
    background-color: #111631;
    border: 0px solid transparent;

}

.image-frame-head-title {
    background-color: transparent;
    border-radius: 10px;
    margin: 10px 5px;
    padding: 0;
    color: white;
    font-size: 14px;
    border: 0px solid transparent;
}

/* .image-frame-head-title>input{
    background-color: #000521;
    padding:8px 15px;
    width: 50%;
    border-radius: 10px;
    margin: 10px 10px;
color: white;
font-size: 14px;
border: 0px solid transparent;
outline: 0px solid transparent;
} */
.image-frame-head-title>label {
    padding: 0px 15px;
    width: 50%;
    border-radius: 10px;
    margin: 10px 10px;
    color: white;
    font-size: 14px;
    border: 0px solid transparent;
    outline: 0px solid transparent;
}

.image-frame-head-imagear {
    margin: 0px 20px;
}

.image-frame-head-imagear>img {
    width: 20%;
}

.loading_images {
    height: fit-content;
    width: fit-content;
    margin: 120px auto;
    text-align: center;

}

.loader>label {
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.login-page {
    background-color: antiquewhite;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    overflow: hidden;

}

.AcccountLogo {
    height: 30px;
    margin: 0 10px;
    border-radius: 50px;
}

.generate-form-div>textarea,
.generate-form-div>textarea:focus {
    color: hsl(0, 0%, 100%, 44%);
    width: 100%;
    height: 25%;
    max-height: 25%;
    border-radius: 5px;
    border: 0px solid transparent;
    background-color: #000521 !important;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 20px;
}

.generate-form {
    /* background-color:rgb(23, 73, 117); */
    height: 100%;

}

.generate-form-div {
    /* background-color: rgb(159, 108, 218); */
    height: 92%;
    overflow: scroll;
    margin: 0px 20px;
    padding: 20px 10px;
}

.generate-form-div>label {
    color: white;
    width: 100%;
    font-size: 14px;
}

.generate-form-div>label>p {
    cursor: pointer;
    background-color: #171f50;
    padding: 2px 8px;
    float: right;
    font-size: 14px;
    border-radius: 5px;
}

.generate-form-div>label>a {
    cursor: pointer;
    text-decoration: none;
    padding: 2px 8px;
    float: right;
    font-size: 14px;
    border-radius: 5px;
}

.result-image {
    background-color: #000521;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    /* outline: .2px solid #272d50; */
}

.result-image>img {
    height: 50vh;
    border-radius: 10px;
    margin-bottom: 15px;
}

.result-image>.action>.download_btn {
    cursor: pointer;
    background-color: #171f50;
    padding: 2px 8px;
    float: right;
    font-size: 14px;
    border-radius: 5px;
    border: 0px solid transparent;
    color: white;
    margin: 0 10px;
    outline: .5px solid #272d50;

}

.result-image>.action>.download_btn>img,
.result-image>.action>.share_btn>img {
    height: 12px;
}

.result-image>.action>.share_btn {
    cursor: pointer;
    background-color: #171f50;
    padding: 2px 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 0px solid transparent;
    color: white;
    margin: 0 10px;
    /* float: right; */
    outline: .5px solid #272d50;

}

.mypost_tab,
.explore_tab,
.whatnews_tab {
    background-color: #111631;
    width: 95%;
    height: 85vh;
    border-radius: 15px;
    margin: 0 20px;
    padding: 20px 20px;
    color: white;
}

.myposts_div {
    padding: 10px;
    height: 38vh;
    width: 35vh;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #000521;
    border-radius: 10px;



}

.myposts_div>.postsframe {
    text-align: center;
    height: 68%;
    width: 100%;
    /* background-color: #7745FF; */
}

.postsframe>img {
    border-radius: 10px;
    height: 100%;
    /* width: 100%; */
}

.myposts_desc {
    text-align: left;
    font-size: 14px;
    height: 32%;
    /* background-color: aliceblue; */
    padding: 10px 10px;

}

.myposts_desc>p {
    width: fit-content;
}

.loading_gen {
    text-align: center;
    height: fit-content;
    width: fit-content;
    margin: 20vh auto;
}

.loading_gen>label {
    color: white;
    font-size: 14px;
}

.navbar-brand>img {
    height: 6vh;
}

.before_sketching {
    color: rgb(201, 201, 201);
    /* background-color: aliceblue; */
    margin: 20vh auto;
    width: fit-content;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}

.before_sketching>img {
    height: 20vh;
}

.et_head {
    font-size: 22px;

    height: 10%;

}

.et_main {
    height: 90%;
    font-size: 14px;
    /* text-align: center; */
    /* padding: 20px; */
}

.et_main>img {
    height: 8vh;
}

.sidebar_bottom {
    /* background-color: #7745FF; */
    width: fit-content;
    width: 100%;
    text-align: center;

}

.sidebar_bottom>button {
    background-color: transparent;
    border: 0px solid transparent;
}

.sidebar_bottom>button>i {
    color: #bbbfd2;
    font-size: 18px;
}

.dropdown-menu {
    background-color: white;
    border-radius: 5px;
    position: absolute;
    right: 200px;
    width: 25vw;
    padding: 20px 0;
}

.sidebar_bottom>.Github_btn {
    /* background-color: #171f50; */
    border-radius: 20px;
    padding: 0px 6px;
    margin: 0 5px;

}

.sidebar_bottom>.Github_btn>a {
    color: #bbbfd2;
}

.sidebar_bottom>.Github_btn>a>i {
    margin-top: 4px;
}

.Github_btn:hover {
    background-color: #171f50;
}

.Github_btn:hover>a {
    color: white
}

.sidebar_bottom>.qs_btn {
    /* background-color: #171f50; */
    border-radius: 20px;
    padding: 0px 8px;
    margin: 0 5px;
}

.sidebar_bottom>.qs_btn>i {
    margin-top: 4px;
    font-size: 17px;
}

.qs_btn:hover {
    background-color: #171f50;
}

.qs_btn:hover>i {
    color: white
}

.footer_sec {
    background-color: #000521;
}

.footer_sec>.footer_dev {
    color: #bcbfd1;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.res_bottombar {
    display: none;
    background-color: #7745FF;
    height: 100px;
}

.sidebar_dnone>ul {
    text-decoration: none;
}

.sidebar_dnone>ul>li>a {
    list-style: none;
    text-decoration: none;
    padding: 10px 0;
}

.sidebar_home {
    width: 15%;
    height: 90vh;
    color: white;
    background-color: #000521;
    padding: 20px;

}

.sidebar_home>ul {
    text-decoration: none;
    height: 90%;

}

.sidebar_home>ul>li {
    text-decoration: none;
    padding: 10px 10px;

}

.sidebar_home>ul>li>a {
    text-decoration: none;
    color: white;


}

@media only screen and (max-width: 990px) {
    .sidebar_home {
        width: 15%;
        height: 90vh;
        color: white;
        background-color: #6a77c3;
        display: none;
        padding: 20px;

    }

    .container-fluid {
        /* background-color: lightblue; */
    }

    .navbar-brand {
        /* float: left; */
        position: relative;
        /* left: 10vw; */
    }

    .main_ar>.sidebar_dnone {
        background-color: #7745FF;
        display: none;
    }

    .res_bottombar {
        background-color: #000521;
        border-top: 1px solid #272d50;
        position: fixed;
        width: 100%;
        bottom: 0;
        color: white;
        font-size: 14px;
        display: block;
        border-radius: 20px;
        height: 70px;
        text-align: center;

    }

    .res_bottombar>ul {
        /* background-color: #817697; */
        width: fit-content;
        margin: 0 auto;
        display: flex;
        width: 90%;

    }

    .res_bottombar>ul>li {
        padding: 20px 20px;
        display: flex;
        list-style: none;
        width: 20vw;
        margin: auto;
        /* background-color: #b5b2bb; */
    }

    .res_bottombar>ul>li.active {}

    .res_bottombar>ul>li>a {
        text-decoration: none;
        color: white;
    }

    .generate-form-div>label>p {
        margin: 5px 0;
        color: rgb(133, 147, 255);
        background-color: hsl(232, 55%, 20%, 0.4);
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .imageGen {
        /* background-color: #6a77c3; */
        width: 100vw;
    }
    .mypost_tab, .explore_tab, .whatnews_tab {
        /* background-color: #6a77c3; */
        width: 90vw;
        
    }
    .GI_left {
        background-color: #111631;
        /* background-color: #7745FF; */
        width: 60%;
        height: 85vh;
        border-radius: 15px;
        margin: 0 20px;
        padding: 20px;
        outline: .5px solid #272d50;
    }

    .GI_right_input {
        background-color: #111631;
        width: 40%;
        height: 85vh;
        max-height: 85vh;
        border-radius: 15px;
        margin: 0 10px;
        outline: .5px solid #272d50;

    }

    .result-image {
        height: 40vw;
        border-radius: 10px;
        margin-bottom: 15px;
        width: fit-content;
    }

    .result-image>img {
        height: 88%;
        border-radius: 10px;
        margin-bottom: 15px;
        width: fit-content;
    }
}

@media only screen and (max-width: 590px) {

    .container-fluid>form>input {
        display: none;
        background-color: transparent;
    }

    .dropdown-menu.show {
        background-color: white;
        width: 90vw;
        display: block;

    }

    .mypost_sec_line {
        background-color: transparent;
        height: 76vh;
        display: grid;
        grid-template-columns: 10px 10px 10px;
      
        grid-column-gap: 20px;
        overflow: scroll;
    }
    .before_sketching>img{
        height: 15vw;
    }
    .navbar-brand>img{
        height: 6vw;
        margin: 0 2px;
    }
    .navbar-brand{
        font-size: 18px;
    }
}