*{
    padding: 0;
    margin: 0;
  }
  .sidebar {

    height: 90vh;
    width: 15%;
    position: relative;
    top: 0;
    left: 0;
    /* background-color: #e54f4f; */
    overflow-x: hidden;
    padding-top: 20px;
    padding: 10px 20px;
    border-right: .5px solid rgb(226, 226, 226);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
   border-radius: 10px;
   font-weight: 500;
  }
  
  .sidebar ul li:hover {
    background-color: #ddd;
  }
  